set wd

In [ ]:
import os
os.chdir('..')

#### To create db, run db.py

In [8]:
from concurrent.futures import ProcessPoolExecutor
from db.scripts.db_esg_text_batch import insert_esg_text_batch
from tqdm import tqdm
from db.scripts.db_esg_vectorDB_batch import insert_esg_vectorDB_batch
from concurrent.futures import ProcessPoolExecutor #Parallel Processing to speed up
import json
from db.scripts.db_esg_vectorDB_batch import insert_esg_vectorDB_batch
from rapidfuzz import process, fuzz
import pandas as pd
import yahooquery as yq
import yfinance as yf
from db.scripts.db_insert_stocks import insert_stocks
from db.scripts.db_insert_roa_roe import insert_roa_roe
from dotenv import load_dotenv
import psycopg2
from db.scripts.get_ticker_symbol import get_ticker_symbol
from db.scripts.get_roa_roe import get_roa_roe
from db.scripts.get_stocks import get_stocks

### To change DB Insertion from Local to Supabase, go to db scripts and uncomment supabase lines(including conn) and comment the local db lines(including conn)


### Batch functions require ProcessorPool Function to run, or have error, if dont wanna use batch then use the scripts without batch

### Insert into esg_text_table with Batch Processing

In [4]:
df = pd.read_csv("./files/labeled_pdfs_1603.csv") ## automate this to be the df from esg_bert

In [16]:
batch = batch_data_prepare_esg_text(df,200)

Prepare batches: 100%|███████████████████████████████| 63903/63903 [00:03<00:00, 18062.75document/s]

#### DB Insertion Need the Process Pool Executore for Batch Processing

In [6]:
from concurrent.futures import ProcessPoolExecutor
from db.scripts.db_esg_text_batch import insert_esg_text_batch
with ProcessPoolExecutor() as executor: #allows for parallel processing
    list(tqdm(executor.map(insert_esg_text_batch,batch), total=len(batch), desc='Insert batches into DB', unit='batch', ncols=100))

Insert batches into DB: 100%|██████████████████████████████████| 320/320 [00:04<00:00, 73.66batch/s]

#### ChromaDB --> WIP, Waiting for complete code before i can create DB insertion script but we can persist data

In [ ]:
from huggingface_hub import HfApi
from datasets import load_dataset
from huggingface_hub import snapshot_download

dataset = 'alexxtm/3101_proj_chromaDB' ##use huggingface key or just pull our own from github


snapshot_download(local_dir="./test", repo_id=dataset, repo_type='dataset')
import chromadb
client = chromadb.PersistentClient(path="./chromatest")  # Stores DB in ./chroma_db
collection = client.get_or_create_collection(name="dsa3101")

### Getting Financial Data

##### Getting the company_tickers table in DF

In [ ]:
load_dotenv('.env')
#Get DB Params for Local DB
db_name = os.getenv('db_name')
db_user = os.getenv('db_user')
db_port = os.getenv('db_port')
db_host = os.getenv('db_host')
db_password = os.getenv('db_password')
conn = psycopg2.connect(f"dbname={db_name} user={db_user} password={db_password} host={db_host} port={db_port}")
query = 'SELECT * FROM company_ticker'
cur = conn.cursor()
cur.execute(query)
data = cur.fetchall()
columns = [desc[0] for desc in cur.description]
df = pd.DataFrame(data, columns=columns)
df #this is the company_tickers database in df

      symbol                                       company_name
0          A            Agilent Technologies, Inc. Common Stock
1         AA                     Alcoa Corporation Common Stock
2        AAA     Alternative Access First Priority CLO Bond ETF
3       AAAU             Goldman Sachs Physical Gold ETF Shares
4       AACT  Ares Acquisition Corporation II Class A Ordina...
...      ...                                                ...
14113   ZYME                      Zymeworks Inc. - Common Stock
14114   ZYXI                         Zynex, Inc. - Common Stock
14115    ZZZ  Cyber Hornet S&P 500 and Bitcoin 75/25 Strateg...
14116   TRUE                       TrueCar, Inc. - Common Stock
14117    NaN                                                NaN

[14118 rows x 2 columns]

#### Getting the unique companys from our esg_text_table

In [27]:
query = 'SELECT DISTINCT company FROM esg_text_table'
cur = conn.cursor()
cur.execute(query)
res = list(cur.fetchall())
result_list = [row[0] for row in res]
result_list

['Applied Materials',
 'Soltec',
 'Pfizer',
 'MPMaterials',
 'SASOL',
 'Morgan Stanley',
 'Infosys',
 'Infopulse',
 'petrobras',
 'Citibank',
 'TechnologyOne',
 'Marvell',
 'Mencast',
 'Genex',
 'Bioceres',
 'DBS',
 'Lenovo',
 'DataDog',
 'SPX Flow',
 'Thong Guan',
 'Apple',
 'RioTinto',
 'Enel',
 'National Bank of Kuwait-Egypt',
 'NorthVolt',
 'Nordson',
 'WiseTech Global',
 'Capgemini',
 'Sea',
 'ANZ',
 '3M',
 'Razer',
 'Itau',
 'Dangote Cement',
 'WEG',
 'LG Electronics',
 'Origin',
 'N-iX',
 'IBM',
 'Bank Of China',
 'Johnson Controls',
 'Hanwha Solutions']

#### Getting the ticker symbols

In [28]:
symbols = []
for i in result_list:
    symbols.append(get_ticker_symbol(i,df))

In [29]:
symbols

['AMAT',
 '7ST.SG',
 'PFE',
 'MP',
 'SSL',
 'MS',
 'INFY',
 None,
 'PBR',
 'C',
 'REW',
 'MRVL',
 '5NF.SI',
 '9820.T',
 'BIOX',
 'D05.SI',
 'LNVGF',
 'DDOG',
 'FLOW',
 '7034.KL',
 'AAPL',
 'RIO',
 'ENIC',
 'EGS60171C013-EGP.CA',
 None,
 'NDSN',
 'WTC.AX',
 'CGEMY',
 'SEA',
 'ANZ.NZ',
 'MMM',
 None,
 'ITUB',
 None,
 'WGNR',
 '066570.KS',
 'ORGN',
 '0P0000A2DS.SW',
 'IBM',
 '3988.HK',
 'JCI',
 '009830.KS']

#### Getting the Non-Private Companies (No Info available for private companies)

In [30]:
company_ticker = pd.DataFrame({'symbol': symbols, 'name': result_list})
company_ticker = company_ticker[company_ticker['symbol'].notna()] #available tickers

#### Past 10 yrs stock prices for companies

In [38]:
for index,row in company_ticker.iterrows():
    ticker = row['symbol']
    company = row['name']
    stocks = get_stocks(ticker,company) #returns df
    if stocks is None:
        continue
    insert_stocks(stocks)

#### Past ROA-ROE

In [41]:
for index,row in company_ticker.iterrows():
    ticker = row['symbol']
    company = row['name']
    roa_roe = get_roa_roe(ticker,company)
    if roa_roe is None:
        continue
    insert_roa_roe(roa_roe)

#### esg_Rag_table

In [1]:
import os
os.chdir('..')
from tqdm import tqdm
from db.scripts.db_esg_rag_table import insert_esg_rag_table
from db.scripts.batch_data_prepare_esg_rag_table import batch_data_prepare_esg_rag_table
import pandas as pd
from db.scripts.db_esg_rag_table_batch import insert_esg_rag_table_batch
##Example we use the csv given
df = pd.read_csv('./csv/esg_rag_data.csv')
batch_rag = batch_data_prepare_esg_rag_table(df, 100) #100 refers to batch size
batch_rag[0][0]

Prepare batches: 100%|█████████████████████████████████████| 69/69 [00:00<00:00, 14820.86document/s]

('DBS',
 2023,
 'Total Greenhouse Gas Emissions',
 "{'Total Greenhouse Gas Emissions': 0.46554}",
 0.46554)

In [2]:
batch_rag[0][4]

('UOBGROUP',
 2023,
 'Total Energy consumption',
 "{'Total Energy consumption': <NA>}",
 None)

In [2]:
from concurrent.futures import ProcessPoolExecutor
with ProcessPoolExecutor() as executor: #allows for parallel processing
    list(tqdm(executor.map(insert_esg_rag_table_batch,batch_rag), total=len(batch_rag), desc='Insert batches into DB', unit='batch', ncols=100))

Insert batches into DB: 100%|██████████████████████████████████████| 1/1 [00:00<00:00,  1.58batch/s]

single insertion

In [2]:
insert_esg_rag_table(df)

company                                                     DBS
year                                                       2023
topic                            Total Greenhouse Gas Emissions
extracted_values    {'Total Greenhouse Gas Emissions': 0.46554}
final_score                                             0.46554
Name: 0, dtype: object
company                                            UOBGROUP
year                                                   2023
topic                        Total Greenhouse Gas Emissions
extracted_values    {'Total Greenhouse Gas Emissions': 0.5}
final_score                                             0.5
Name: 1, dtype: object
company                                                OCBC
year                                                   2023
topic                        Total Greenhouse Gas Emissions
extracted_values    {'Total Greenhouse Gas Emissions': 0.0}
final_score                                             0.0
Name: 2, dtype: object
company                                               DBS
year                                                 2023
topic                            Total Energy consumption
extracted_values    {'Total Energy consumption': 0.56312}
final_score                                       0.56312
Name: 3, dtype: object
company                                       UOBGROUP
year                                              2023
topic                         Total Energy consumption
extracted_values    {'Total Energy consumption': <NA>}
final_score                                        NaN
Name: 4, dtype: object
company                                          OCBC
year                                             2023
topic                        Total Energy consumption
extracted_values    {'Total Energy consumption': 0.0}
final_score                                       0.0
Name: 5, dtype: object
company                                               DBS
year                                                 2023
topic                             Total Water Consumption
extracted_values    {'Total Water Consumption': 0.648253}
final_score                                      0.648253
Name: 6, dtype: object
company                                     UOBGROUP
year                                            2023
topic                        Total Water Consumption
extracted_values    {'Total Water Consumption': 0.5}
final_score                                      0.5
Name: 7, dtype: object
company                                          OCBC
year                                             2023
topic                         Total Water Consumption
extracted_values    {'Total Water Consumption': <NA>}
final_score                                       NaN
Name: 8, dtype: object
company                                          DBS
year                                            2023
topic                          Total Waste Generated
extracted_values    {'Total Waste Generated': 0.737}
final_score                                    0.737
Name: 9, dtype: object
company                                    UOBGROUP
year                                           2023
topic                         Total Waste Generated
extracted_values    {'Total Waste Generated': <NA>}
final_score                                     NaN
Name: 10, dtype: object
company                                       OCBC
year                                          2023
topic                        Total Waste Generated
extracted_values    {'Total Waste Generated': 0.5}
final_score                                    0.5
Name: 11, dtype: object
company                                              DBS
year                                                2023
topic                        Current Employees by Gender
extracted_values    {'Current Employees by Gender': 1.0}
final_score                                          1.0
Name: 12, dtype: object
company                                         UOBGROUP
year                                                2023
topic                        Current Employees by Gender
extracted_values    {'Current Employees by Gender': 1.0}
final_score                                          1.0
Name: 13, dtype: object
company                                              OCBC
year                                                 2023
topic                         Current Employees by Gender
extracted_values    {'Current Employees by Gender': 0.75}
final_score                                          0.75
Name: 14, dtype: object
company                                                    DBS
year                                                      2023
topic                         Employee Turnover rate by Gender
extracted_values    {'Employee Turnover rate by Gender': 0.91}
final_score                                               0.91
Name: 15, dtype: object
company                                              UOBGROUP
year                                                     2023
topic                        Employee Turnover rate by Gender
extracted_values    {'Employee Turnover rate by Gender': 0.5}
final_score                                               0.5
Name: 16, dtype: object
company                                                  OCBC
year                                                     2023
topic                        Employee Turnover rate by Gender
extracted_values    {'Employee Turnover rate by Gender': 1.0}
final_score                                               1.0
Name: 17, dtype: object
company                                      DBS
year                                        2023
topic                        New Hires by Gender
extracted_values    {'New Hires by Gender': 0.5}
final_score                                  0.5
Name: 18, dtype: object
company                                 UOBGROUP
year                                        2023
topic                        New Hires by Gender
extracted_values    {'New Hires by Gender': 0.5}
final_score                                  0.5
Name: 19, dtype: object
company                                      OCBC
year                                         2023
topic                         New Hires by Gender
extracted_values    {'New Hires by Gender': <NA>}
final_score                                   NaN
Name: 20, dtype: object
company                                                   DBS
year                                                     2023
topic                         Current Employees by Age Groups
extracted_values    {'Current Employees by Age Groups': 0.66}
final_score                                              0.66
Name: 21, dtype: object
company                                             UOBGROUP
year                                                    2023
topic                        Current Employees by Age Groups
extracted_values    {'Current Employees by Age Groups': 0.5}
final_score                                              0.5
Name: 22, dtype: object
company                                                  OCBC
year                                                     2023
topic                         Current Employees by Age Groups
extracted_values    {'Current Employees by Age Groups': <NA>}
final_score                                               NaN
Name: 23, dtype: object
company                                                  DBS
year                                                    2023
topic                        New employee hires by age group
extracted_values    {'New employee hires by age group': 0.5}
final_score                                              0.5
Name: 24, dtype: object
company                                             UOBGROUP
year                                                    2023
topic                        New employee hires by age group
extracted_values    {'New employee hires by age group': 0.5}
final_score                                              0.5
Name: 25, dtype: object
company                                                    OCBC
year                                                       2023
topic                           New employee hires by age group
extracted_values    {'New employee hires by age group': 0.7167}
final_score                                              0.7167
Name: 26, dtype: object
company                                         DBS
year                                           2023
topic                           Total turnover rate
extracted_values    {'Total turnover rate': 0.9112}
final_score                                  0.9112
Name: 27, dtype: object
company                                 UOBGROUP
year                                        2023
topic                        Total turnover rate
extracted_values    {'Total turnover rate': 0.5}
final_score                                  0.5
Name: 28, dtype: object
company                                     OCBC
year                                        2023
topic                        Total turnover rate
extracted_values    {'Total turnover rate': 0.0}
final_score                                  0.0
Name: 29, dtype: object
company                                                      DBS
year                                                        2023
topic                        Average Training Hours per Employee
extracted_values    {'Average Training Hours per Employee': 1.0}
final_score                                                  1.0
Name: 30, dtype: object
company                                                 UOBGROUP
year                                                        2023
topic                        Average Training Hours per Employee
extracted_values    {'Average Training Hours per Employee': 0.0}
final_score                                                  0.0
Name: 31, dtype: object
company                                                      OCBC
year                                                         2023
topic                         Average Training Hours per Employee
extracted_values    {'Average Training Hours per Employee': <NA>}
final_score                                                   NaN
Name: 32, dtype: object
company                             DBS
year                               2023
topic                        Fatalities
extracted_values    {'Fatalities': 0.5}
final_score                         0.5
Name: 33, dtype: object
company                        UOBGROUP
year                               2023
topic                        Fatalities
extracted_values    {'Fatalities': 0.5}
final_score                         0.5
Name: 34, dtype: object
company                            OCBC
year                               2023
topic                        Fatalities
extracted_values    {'Fatalities': 0.5}
final_score                         0.5
Name: 35, dtype: object
company                                            DBS
year                                              2023
topic                        High-consequence injuries
extracted_values    {'High-consequence injuries': 0.5}
final_score                                        0.5
Name: 36, dtype: object
company                                        UOBGROUP
year                                               2023
topic                         High-consequence injuries
extracted_values    {'High-consequence injuries': <NA>}
final_score                                         NaN
Name: 37, dtype: object
company                                           OCBC
year                                              2023
topic                        High-consequence injuries
extracted_values    {'High-consequence injuries': 0.5}
final_score                                        0.5
Name: 38, dtype: object
company                                      DBS
year                                        2023
topic                        Recordable injuries
extracted_values    {'Recordable injuries': 0.5}
final_score                                  0.5
Name: 39, dtype: object
company                                 UOBGROUP
year                                        2023
topic                        Recordable injuries
extracted_values    {'Recordable injuries': 0.5}
final_score                                  0.5
Name: 40, dtype: object
company                                      OCBC
year                                         2023
topic                         Recordable injuries
extracted_values    {'Recordable injuries': <NA>}
final_score                                   NaN
Name: 41, dtype: object
company                                                           DBS
year                                                             2023
topic               Number of Recordable Work-related Ill Health C...
extracted_values    {'Number of Recordable Work-related Ill Health...
final_score                                                       0.5
Name: 42, dtype: object
company                                                      UOBGROUP
year                                                             2023
topic               Number of Recordable Work-related Ill Health C...
extracted_values    {'Number of Recordable Work-related Ill Health...
final_score                                                       NaN
Name: 43, dtype: object
company                                                          OCBC
year                                                             2023
topic               Number of Recordable Work-related Ill Health C...
extracted_values    {'Number of Recordable Work-related Ill Health...
final_score                                                       0.5
Name: 44, dtype: object
company                                     DBS
year                                       2023
topic                        Board Independence
extracted_values    {'Board Independence': 1.0}
final_score                                 1.0
Name: 45, dtype: object
company                                UOBGROUP
year                                       2023
topic                        Board Independence
extracted_values    {'Board Independence': 0.0}
final_score                                 0.0
Name: 46, dtype: object
company                                    OCBC
year                                       2023
topic                        Board Independence
extracted_values    {'Board Independence': 1.0}
final_score                                 1.0
Name: 47, dtype: object
company                                      DBS
year                                        2023
topic                         Women on the Board
extracted_values    {'Women on the Board': <NA>}
final_score                                  NaN
Name: 48, dtype: object
company                                UOBGROUP
year                                       2023
topic                        Women on the Board
extracted_values    {'Women on the Board': 0.0}
final_score                                 0.0
Name: 49, dtype: object
company                                    OCBC
year                                       2023
topic                        Women on the Board
extracted_values    {'Women on the Board': 1.0}
final_score                                 1.0
Name: 50, dtype: object
company                                      DBS
year                                        2023
topic                        Women in Management
extracted_values    {'Women in Management': 1.0}
final_score                                  1.0
Name: 51, dtype: object
company                                 UOBGROUP
year                                        2023
topic                        Women in Management
extracted_values    {'Women in Management': 1.0}
final_score                                  1.0
Name: 52, dtype: object
company                                     OCBC
year                                        2023
topic                        Women in Management
extracted_values    {'Women in Management': 1.0}
final_score                                  1.0
Name: 53, dtype: object
company                                              DBS
year                                                2023
topic                        Anti-corruption disclosures
extracted_values    {'Anti-corruption disclosures': 1.0}
final_score                                          1.0
Name: 54, dtype: object
company                                         UOBGROUP
year                                                2023
topic                        Anti-corruption disclosures
extracted_values    {'Anti-corruption disclosures': 0.0}
final_score                                          0.0
Name: 55, dtype: object
company                                             OCBC
year                                                2023
topic                        Anti-corruption disclosures
extracted_values    {'Anti-corruption disclosures': 0.0}
final_score                                          0.0
Name: 56, dtype: object
company                                                         DBS
year                                                           2023
topic                        Anti-Corruption Training for Employees
extracted_values    {'Anti-Corruption Training for Employees': 1.0}
final_score                                                     1.0
Name: 57, dtype: object
company                                                    UOBGROUP
year                                                           2023
topic                        Anti-Corruption Training for Employees
extracted_values    {'Anti-Corruption Training for Employees': 0.5}
final_score                                                     0.5
Name: 58, dtype: object
company                                                         OCBC
year                                                            2023
topic                         Anti-Corruption Training for Employees
extracted_values    {'Anti-Corruption Training for Employees': <NA>}
final_score                                                      NaN
Name: 59, dtype: object
company                                DBS
year                                  2023
topic                        Certification
extracted_values    {'Certification': 2.0}
final_score                            2.0
Name: 60, dtype: object
company                           UOBGROUP
year                                  2023
topic                        Certification
extracted_values    {'Certification': 0.0}
final_score                            0.0
Name: 61, dtype: object
company                               OCBC
year                                  2023
topic                        Certification
extracted_values    {'Certification': 1.0}
final_score                            1.0
Name: 62, dtype: object
company                                                           DBS
year                                                             2023
topic               Alignment with frameworks and disclosure pract...
extracted_values    {'Alignment with frameworks and disclosure pra...
final_score                                                       1.0
Name: 63, dtype: object
company                                                      UOBGROUP
year                                                             2023
topic               Alignment with frameworks and disclosure pract...
extracted_values    {'Alignment with frameworks and disclosure pra...
final_score                                                       0.0
Name: 64, dtype: object
company                                                          OCBC
year                                                             2023
topic               Alignment with frameworks and disclosure pract...
extracted_values    {'Alignment with frameworks and disclosure pra...

##### misc

In [11]:
## cleaning all_Company csv

df = pd.read_csv('csv/all_company.csv')
df.drop_duplicates().reset_index()
df.to_csv('all_company.csv', index=False)

In [12]:
df

      symbol                                       company_name
0          A            Agilent Technologies, Inc. Common Stock
1         AA                     Alcoa Corporation Common Stock
2        AAA     Alternative Access First Priority CLO Bond ETF
3       AAAU             Goldman Sachs Physical Gold ETF Shares
4       AACT  Ares Acquisition Corporation II Class A Ordina...
...      ...                                                ...
14113   ZYME                      Zymeworks Inc. - Common Stock
14114   ZYXI                         Zynex, Inc. - Common Stock
14115    ZZZ  Cyber Hornet S&P 500 and Bitcoin 75/25 Strateg...
14116   TRUE                       TrueCar, Inc. - Common Stock
14117    NaN                                                NaN

[14118 rows x 2 columns]